{{ ansible_managed | comment }}
{% if cloud_init_cacerts is defined and cloud_init_cacerts.certs | length() > 0 %}
ca-certs:
  remove-defaults: {{ cloud_init_cacerts.remove_defaults }}
trusted:
{% for cert in cloud_init_cacerts.certs %}
  - |
    {{ cert }}
{% endfor %}
{% endif %}
