{{ ansible_managed | comment }}
# run commands
# default: none
# runcmd contains a list of either lists or a string
# each item will be executed in order at rc.local like level with
# output to the console
# - runcmd only runs during the first boot
# - if the item is a list, the items will be properly executed as if
#   passed to execve(3) (with the first arg as the command).
# - if the item is a string, it will be simply written to the file and
#   will be interpreted by 'sh'
#
# Note, that the list has to be proper yaml, so you have to quote
# any characters yaml would eat (':' can be problematic)
# - [ wget, "http://slashdot.org", -O, /run/mydir/index.html ]
runcmd:
{% if cloud_init_runcmd is sequence() and cloud_init_runcmd | length() > 0 %}
{% for runcmd in cloud_init_runcmd %}
  - {{ runcmd }}
{% endfor %}
{% endif %}
{% if cloud_init_disable %}
  - [ touch, '/etc/cloud/cloud-init.disable' ]
  - [ ls, -al, '/etc/cloud/' ]
  - [ systemctl, disable, 'cloud-init', 'cloud-init-local', 'cloud-config', 'cloud-final' ]
  - [ systemctl, mask, 'cloud-init', 'cloud-init-local', 'cloud-config', 'cloud-final' ]
{% elif cloud_init_clean %}
  - [ cloud-init, clean, '--logs --seed' ]
{% endif %}
